body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  border: 3px solid red;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;  
}

h3 {
  color: white;
  text-align: center;
  border: 3px solid red;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;  
}

h4 {
  color: white;
  text-align: center;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;  
}
  
p {
  color: white;
  text-align: center;
  font-size: 20px
  text-shadow: 2px 2px red;
  text-decoration-line: overline;
  text-decoration-color: red;
}

.center-block {
  display: block;
  text-align: center;
}

row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
