body {
  background-image: url("https://www.google.com.pk/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fstarry%2520sky%2F&psig=AOvVaw3fiouuzlRDcjpma9i94CRy&ust=1646307868622000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPjKiPCsp_YCFQAAAAAdAAAAABAD");
}

h1 {
  color: white;
  text-align: middle;
}

p {
  color: white;
  text-align: middle;
  font-size: 20px
}



