
h1 {
  color: black;
  text-align: center;
  border: 3px solid red;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  
  
}

p {
  color: black;
  text-align: center;
  font-size: 20px
  text-shadow: 2px 2px red;
  text-decoration-line: overline;
  text-decoration-color: red;
}
